@model Role
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <form method="post" class="col-5 form-control align-items-center">
        <div class="form-check col-5">
            <div class="modal-header">
                <h4 class="modal-title" id="addRoleLable">Add role</h4>
            </div>
            <label asp-for="Name"></label>
            <input asp-for="Name" name="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="btn-toolbar p-2">
                <button type="button"  class="btn btn-secondary col-2"><a class="text-decoration-none" style="color: white;" asp-action="ListAllRoles">Cancel</a></button>
                <button type="submit" class="btn btn-primary col-2">Add</button>
            </div>
        </div>
    </form>
}
