@using BHFunctioning.Data
@model HealthData
@{
    ViewData["Title"] = "Index";
}
<form class="form-inline col-md-3 form-control" method="post" asp-action="create">
    <table class="d-table">
        <tr class="row">
            <div class="row pb-2">
                <h2 class="text-primary">Enter inputs</h2>
            </div>
        </tr>
        <div asp-validation-summary="All"></div>
        <tr>
            <th>
                <div>
                    Data
                </div>
            </th>
            <th class="align-content-center">
                Input
            </th>

        </tr>
        <tr>
            <td class="d-table-cell p-1">

                <label asp-for="NEET"></label>
                <span asp-validation-for="NEET" class="text-danger"></span>
            </td>
            <td class="d-table-cell p-1">
                <div class="">
                    <input class="form-check-input" value="1" asp-for="NEET" type="radio" name="NEET" id="neet1" />
                    <label class="form-check-label" for="neet1">Yes</label>

                    <input class="form-check-input" value="0" asp-for="NEET" type="radio" name="NEET" id="neet0" />
                    <label class="form-check-label" for="neet0">No</label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="p-1 d-table-cell">
                <label asp-for="ChildDx"></label>
                <span asp-validation-for="ChildDx" class="text-danger"></span>
            </td>
            <td class="d-table-cell p-1">
                <div>
                    <input class="form-check-input" value="1" asp-for="ChildDx" type="radio" name="ChildDx" id="childdx1" />
                    <label class="form-check-label" for="childdx1">Yes</label>

                    <input class="form-check-input" value="0" asp-for="ChildDx" type="radio" name="ChildDx" id="childdx0" />
                    <label class="form-check-label" for="childdx0">No</label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d-table-cell p-1">
                <label asp-for="Selfharm"></label>
                <span asp-validation-for="Selfharm" class="text-danger"></span>
            </td>
            <td class="d-table-cell p-1">
                <div>
                    <input class="form-check-input" value="1" asp-for="Selfharm" type="radio" name="Selfharm" id="selfharm1" />
                    <label class="form-check-label" for="selfharm0">Yes</label>

                    <input class="form-check-input" value="0" asp-for="Selfharm" type="radio" name="Selfharm" id="selfharm0" />
                    <label class="form-check-label" for="selfharm1">No</label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d-table-cell p-1">
                <label asp-for="Psychosis"></label>
                <span asp-validation-for="Psychosis" class="text-danger"></span>
            </td>
            <td class="d-table-cell p-1">

                <div>
                    <input class="form-check-input" value="1" asp-for="Psychosis" type="radio" name="Psychosis" id="Psychosis1" />
                    <label class="form-check-label" for="Psychosis0">Yes</label>

                    <input class="form-check-input" value="0" asp-for="Psychosis" type="radio" name="Psychosis" id="Psychosis0" />
                    <label class="form-check-label" for="Psychosis1">No</label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d-table-cell p-1">
                <label asp-for="Medical"></label>
                <span asp-validation-for="Medical" class="text-danger"></span>
            </td>
            <td class="d-table-cell p-1">

                <div class="">
                    <input class="form-check-input" value="1" asp-for="Medical" type="radio" name="Medical" id="Medical1" />
                    <label class="form-check-label" for="Medical1">Yes</label>

                    <input class="form-check-input" value="0" asp-for="Medical" type="radio" name="Medical" id="Medical0" />
                    <label class="form-check-label" for="Medical0">No</label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d-table-cell p-1">
                <label asp-for="Circadian"></label>
                <span asp-validation-for="Circadian" class="text-danger"></span>
            </td>
            <td class="d-table-cell p-1">

                <div class="">
                    <input class="form-check-input " value="1" asp-for="Circadian" type="radio" name="Circadian" id="Circadian1" />
                    <label class="form-check-label" for="Circadian1">Yes</label>

                    <input class="form-check-input" value="0" asp-for="Circadian" type="radio" name="Circadian" id="Circadian0" />
                    <label class="form-check-label" for="Circadian0">No</label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d-table-cell p-1">
                <label asp-for="Tripartite"></label>
                <span asp-validation-for="Tripartite" class="text-danger"></span>
            </td>
            <td class="d-table-cell p-1">
                <div class="">
                    <select asp-for="Tripartite" class="dropdown dropdown-header dropdown-item-text dropdown-toggle" name="Tripartite" id="Tripartite">
                        <option class="dropdown-item" value="1">No mood disorder</option>
                        <option class="dropdown-item" value="2">Manic fatigue</option>
                        <option class="dropdown-item" value="3">Developmental psychosis</option>
                        <option class="dropdown-item" value="4">Anxious depression</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td class="d-table-cell p-1">
                <label asp-for="ClinicalStage"></label>
                <span asp-validation-for="ClinicalStage" class="text-danger"></span>
            </td>
            <td class="d-table-cell p-1">
                <select asp-for="ClinicalStage" class="dropdown dropdown-header dropdown-item-text dropdown-toggle" name="ClinicalStage" id="ClinicalStage">
                    <option class="dropdown-item" value="1">Stage 1a</option>
                    <option class="dropdown-item" value="2">Stage 1b</option>
                    <option class="dropdown-item" value="3">Stage 2a+</option>
                </select>

            </td>
        </tr>
        <tr>
            <td class="d-table-cell p-1">
                <label class="p-1" asp-for="Sofas"></label>
                <span asp-validation-for="Sofas" class="text-danger"></span>
            </td>
            <td class="d-table-cell p-1">
                <div class="btn-group input-group mb-2 mr-sm-2" role="group" aria-label="Basic example">
                    <span id="slider" class="p-1">1</span><input value="1" min="1" max="5" id="Sofas" asp-for="Sofas" type="range" name="Sofas" class="" onchange="changeSlider" /><span class="p-1" id="rangeSlider">5</span>
                </div>
            </td>
        </tr>
        <tr>

            <td class="d-table-cell p-1">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </td>
        </tr>

    </table>

</form>

<div class="align-content-around" id="DataViz">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Mushrooms', 3],
            ['Onions', 1],
            ['Olives', 1],
            ['Zucchini', 1],
            ['Pepperoni', 2]
        ]);
        // Set chart options
        var options = {'title':'How Much Pizza I Ate Last Night',
            'width':1000,
            'height':1000};
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        }
    </script>
    <div id="chart_div" style="width:1000; height:1000"></div>
</div>
